.speech-to-text {
    margin: 2rem auto;
    width: 60%;

    .title {
        text-align: center;
        text-transform: uppercase;
    }

    .main-container {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;

        .settings-container {
            width: 35%;
            display: flex;
            flex-direction: column;

            .continuos-output-setting {
                display: flex;
                align-items: center;
                margin: 2rem 0;

                label {
                    cursor: pointer;
                }

                #continuos-output {
                    margin: 2px 10px 0px;
                }
            }

            .output-font-family {
                display: flex;
                align-items: center;
                margin: 2rem 0;

                label {
                    cursor: pointer;
                }

                .inner-selection-container {
                    margin: 0 1rem;

                    #font-selection {
                        border-radius: .25rem;
                        font-size: 1rem;
                        padding: .5rem .25rem;
    
                        &:focus {
                            border-color: #80bdff;
                            outline: 0;
                            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
                        }
                    }
                }
            }
        }

        .output-container {
            width: 50%;

            #output-transcript {
                font-size: 1rem;
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: space-around;
        margin: 2rem auto;
        position: relative;
        text-align: center;
        width: 25%;

        .click-to-speak, .click-to-stop {
            border: none;
            font-size: 3rem;
            border-radius: 50%;
        }

        .click-to-speak {
            padding: 1rem 1.5rem;

            &.restrict-speaking {
                cursor: not-allowed;
                box-shadow: none;
                animation: trippleShadowBounce 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            }

            &.user-speaking {
                animation: linearOutwardRipple 0.5s linear infinite;
            }
        }

        .click-to-stop {
            padding: 1rem 1.25rem;
            color: #F00;
            background-color: buttonface;

            &.enable-stop-icon {
                animation: popOut 0.25s linear forwards;
            }

            &.disable-stop-icon {
                animation: popIn 0.25s linear forwards;
            }

            &:disabled {
                opacity: 0.25;
                cursor: not-allowed;
            }
        }
    }
}

@keyframes trippleShadowBounce {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 0.75rem rgba($color: #000, $alpha: 0.35),
            0 0 0 1.25rem rgba($color: #000, $alpha: 0.25),
            0 0 0 1.75rem rgba($color: #000, $alpha: 0.15);
    }
    100% {
        box-shadow: none;
    }
}

@keyframes linearOutwardRipple {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 0 2rem rgba($color: #f00, $alpha: 0.35);
    }
}

@keyframes popOut {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

@keyframes popIn {
    0% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}