.skribble-main-container {
    margin: 2rem auto;
    position: relative;
    width: 90%;

    .canvas-container {
        margin: 1rem auto;
        position: relative;
        width: 100%;
        
        #skribble-canvas {
            box-shadow: 1px 1px 0.5rem 1px rgba($color: black, $alpha: 0.15);
            display: block;
        }

        .clear-canvas-button {
            border: none;
            cursor: pointer;
            font-size: 1rem;
            padding: 0.65rem;
            position: absolute;
            right: 0;
            top: -2.75rem;
        }
    }
}
