.custom-tooltip-container {
    animation: popout 0.2s;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
}

@keyframes popout {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
