#text-to-speech {
    margin: 2rem 1rem;

    .title {
        text-align: center;
        text-transform: uppercase;
    }

    .main-container {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .speak-btn-container {
        text-align: center;
    }
}