#text-to-speech {
    margin: 2rem 1rem;

    .title {
        text-align: center;
        text-transform: uppercase;
    }

    .main-container {
        align-items: center;
        display: flex;
        justify-content: space-around;

        .input-container {
            #input-text-container {
                font-family: sans-serif;
            }
        }

        .settings-container {
            .pitch-setting {
                #pitch {
                    position: relative;
                }
            }
            .rate-setting {
                #rate {
                    position: relative;
                }
            }
            .clear-input-setting {
                #clear-input {
                    position: relative;
                }
            }
            .voice-selection-container {
                position: relative;
            }
        }
    }

    .speak-btn-container {
        margin: 2rem 0;
        text-align: center;

        .speak-btn {
            font-size: 1.25rem;
            padding: 1rem 2rem;
            background-color: rgba($color: gray, $alpha: 0.25);

            &:not(:disabled) {
                border: none;

                &:hover {
                    color: white;
                    background-color: rgba($color: blue, $alpha: 0.75);
                }
            }
        }
    }
}