.main-container {
    margin: 2rem auto;
    width: 80%;
    position: relative;

    .route-cards-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .route-card {
            animation: popin 0.5s;
            animation-fill-mode: forwards;
            box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.5);
            color: #000;
            display: block;
            margin: 1.5rem;
            padding: 1.5rem;
            position: relative;
            text-decoration: none;
            width: 40%;
            opacity: 0;

            &:hover {
                transform: scale(1.1);
            }

            // &:nth-child(2n) {
            //     animation-delay: 0.2s;
            // }
        }
    }
}

@keyframes popin {
    from {
        left: -10%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}