#parent {
	border-radius: 5px;
	border: 1px solid black;
	overflow: hidden;
	padding: 1rem;
	position: relative;

	.parentInfo {
		display: flex;
		justify-content: space-around;
		width: 100%;

		.imageArea {
			display: inline-block;
			text-align: center;

			.reactImage {
				animation: rotate linear 5s infinite;
			}
		}

		.infoTextArea {
			position: relative;
		}
	}

	.stateTextArea {
		background-color: rgba($color: gray, $alpha: 0.2);
		border-radius: 5px;
		min-height: 5rem;
		overflow: auto;
		padding: 0.5rem;
	}

	.childrenComponents {
		display: flex;
		flex-direction: row;

		.childComp {
			border: 1px solid black;
			border-radius: 5px;
			margin: 0 0.5rem;
			position: relative;
			width: 100%;

			.inputArea {
				display: flex;

				.arrow {
					position: relative;
					font-size: 1.5rem;
					width: 15%;
					animation: indicate 1s infinite;
				}

				input[type="text"] {
					width: 90%;

					&:focus {
						& + .arrow {
							animation: none;
						}
					}
				}
			}
		}
	}
}

@keyframes indicate {
	0% {
		left: 0;
	}
	50% {
		left: 20px;
	}
	100% {
		left: 0;
	}
}

@keyframes rotate {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(360deg);
	}
}
