#parent {
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem;
	position: relative;

	.reactImageArea {
		width: 100%;
		text-align: center;

		.reactImage {
			animation: rotate linear 5s infinite;
		}
	}

	.stateTextArea {
		min-height: 5rem;
		width: 100%;
	}

	.childrenComponents {
		display: flex;
		flex-direction: row;

		.childComp {
			border: 1px solid black;
			border-radius: 5px;
			margin: 0 0.5rem;
			width: 100%;
			
			.inputArea {
				display: flex;

				.arrow {
					position: relative;
					font-size: 1.5rem;
					width: 15%;
					animation: indicate 1s infinite;
				}

				input[type=text] {
					width: 90%;
					
					&:focus {
						&+.arrow {
							animation: none;
						}
					}
				}
			}
		}
	}
}

@keyframes indicate {
	0% {
		left: 0;
	}
	50% {
		left: 20px;
	}
	100% {
		left: 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}