.toolbar-container {
    align-items: center;
    background-color: #DDD;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0.75rem;
    width: 75%;

    .tool {
        font-size: 3rem;
        padding: 0.5rem;
        position: relative;

        &.active {
            box-shadow: 1px 1px 1.5rem 1px rgba($color: blue, $alpha: 0.5);
        }

        .info-icon {
            font-size: 1rem;
            left: 5%;
            position: absolute;
            top: 5%;

            &:hover {
                transform: rotateZ(90deg);
            }
        }

        .merge-icon {
            color: #FFF;
            font-size: 1.4rem;
            left: 5%;
            position: absolute;
            top: 12%;
        }
    }
}

.tooltip-container {
    padding: 2rem 0.5rem;

    .close-options {
        border: 1px solid #EEE;
        cursor: pointer;
        padding: 3px;
        position: absolute;
        right: 2%;
        top: 2%;
    }
}
