.default-container {
    .title {
        margin: 3rem 0 5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .routes {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .link-card {
            border-radius: 0.5rem;
            color: black;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            outline: rgba($color: gray, $alpha: 0.5) inset 2px;
            padding: 2rem;
            text-decoration: none;
            transition-duration: 0.25s;
            -moz-transition-duration: 0.25s;
            -o-transition-duration: 0.25s;
            -webkit-transition-duration: 0.25s;
            width: 25%;

            &:hover {
                box-shadow: 1px 1px 0.5rem 1px rgba($color: black, $alpha: 0.5);
                transform: translateY(-10px);
            }

            .link-title {
                color: rgb(2, 22, 222);
                display: block;
                text-align: center;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .description-icon {
                font-size: 4rem;
            }
        }
    }
}
