.nav-bar {
    position: relative;

    &-options {
        align-items: center;
        border-bottom: 1px solid gray;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-around;
        padding: 1rem 0;

        &.hide {
            animation: slideOut 0.2s linear forwards;
        }

        &.show {
            animation: slideIn 0.2s linear;
        }

        a {
            text-decoration: none;
            color: blue;
            padding: 1rem 2rem;
        }
    }

    &-toggle-button {
        border-radius: 15%;
        font-size: 2.5rem;
        left: 2%;
        padding: 0rem 0.6rem 0.2rem;
        position: fixed;
        top: 5%;
        z-index: 10;
    }
}

@keyframes slideIn {
    0% {
        margin-top: -6.5%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes slideOut {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: -6.5%;
    }
}